{
  "presets": [
    [
      "es2015",
      {
        "module": false
      }
    ],
    "es2017",
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-runtime",
    "transform-flow-strip-types",
    "react-hot-loader/babel"
  ],
}
